{% extends 'base.html' %}
<!-- hide header and nav so the quiz is cleaner -->
{% block header %}<!-- keeps title from main template from showing -->{% endblock %}


{% block nav %}<!-- keeps nav from main template from showing --> {% endblock %}
{% block content %}
<p class="centerpad" style="font-size:24px; text-align: center;">
    How good are you with Vögel?
</p>
<form method="get" action="/quiz/1">
<div class="question-flex">
    <div class="question-flex-item actual-question level-selector">
        {% if p.mode == 'img' %}
        <input type="radio" id="Beginner" name="level" value="Beginner" checked class="beginner" /><label for="Beginner"
            class="button-19">Beginner</label>
        <input type="radio" id="Intermediate" name="level" value="Intermediate" class="intermediate" /><label for="Intermediate"
            class="button-19">Intermediate</label>
        <input type="radio" id="Expert" name="level" value="Expert" class="expert" /><label for="Expert"
            class="button-19">Expert</label>
        {% endif %}
    </div>
</div>
<button type="submit" class="button-19 button-green"> Bereit? Auf los gehts los!</button>
</form>
{% endblock %}
{% block footer %}<!-- keeps footer from main template from showing -->{% endblock %}
