:root {
  --default-font-color: rgb(255, 234, 0);
  color: var(--default-font-color);
  --background-color: #377ba8;
  --h1-color: var(--default-font-color);
  --a-color: var(--default-font-color);
  --button-background-color: #1CB0F6;
  --button-shadow-color: #1899D6;
  --button-color: #FFFFFF;
  --unselected-button-background-color: rgb(179, 179, 179);
  --unselected-button-shadow-color: rgb(153, 152, 152);
  --selected-button-background-color: LimeGreen;
  --selected-button-shadow-color: rgb(43, 180, 43);
}

html {
  font-family: sans-serif;
  background: var(--background-color);
}

body {
  margin: 0 0;
  background: var(--background-color);
}

h1 {
  font-family: serif;
  color: var(--h1-color);
  margin: 1rem 0;
}

a {
  color: var(--a-color);
}

hr {
  border: none;
  border-top: 1px solid darkgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content>header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content>header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post>header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post>header>div:first-of-type {
  flex: auto;
}

.post>header h1 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #fd6666;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.center {
  text-align: center;
}

.centerpad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 40%;
}

.listpad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 48px;
  font-size: 24px;
}

.hometext {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-19 {
  appearance: button;
  background-color: var(--button-shadow-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-19:after {
  background-clip: padding-box;
  background-color: var(--button-background-color);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.hidden {
  display: none;
}



.main-content {
  padding: 2%;
  box-sizing: border-box;
  width: 100vw;
}

.question-flex {
  display: flex;
  flex-direction: row;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-flex-item {
  flex: 0 0 1;
  width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.question-flex-item-vertical {
  flex: 0 0 1;
  height: 50%;
}

.actual-question {
  width: 50%;
}

.actual-question img {
  /* height: 80vh; */
  width: auto;
  height: auto;
  /* max-width: 230px; */
  max-height: 80vh;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.level-selector input[type="radio"] {
  display: none;
}

.level-selector label {
  --button-background-color: var(--unselected-button-background-color);
  --button-shadow-color: var(--unselected-button-shadow-color);
}

/* .level-selector input[type="radio"]:checked+label {
  --button-background-color: var(--selected-button-background-color);
}

.level-selector input[type="radio"]:checked+label:after {
  --button-background-color: var(--selected-button-background-color);
  --button-shadow-color: var(--selected-button-shadow-color);
} */

.level-selector input[type="radio"].beginner:checked+label {
  --button-background-color: rgb(247, 247, 0);
  --button-shadow-color: rgb(224, 224, 3);
  --button-color: black;
  }

    
.level-selector input[type="radio"].intermediate:checked+label {
  --button-background-color: rgb(255, 166, 0);
  --button-shadow-color: rgb(226, 147, 0);
  --button-color: black;
}


.level-selector input[type="radio"].expert:checked+label {
  --button-background-color: rgb(255, 102, 0);
  --button-shadow-color: rgb(224, 90, 0);
  --button-color: black;
}
